
/* book-app */

.book-app {
    /* height: 80vh; */
    /* background-color:#f5f9ee; */
}

.book-app h1 {
    height: 48px;
    padding-top: 16px;
    text-align: center;
    background-color: rgb(245, 245, 245);
}

/* book-list */

.book-list ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* book-preview */

.book-preview-container {
    padding: 10px;
    margin: 10px;
    width: 250px;
    background-color: #eef2e2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    background-color: white;
    transition: box-shadow .1s;
    box-shadow: 0px -1px 5px -1px rgba(0,0,0,0.59);
    -webkit-box-shadow: 0px -1px 5px -1px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px -1px 5px -1px rgba(0,0,0,0.59);
}

.book-preview-container:hover {
    background-color: white;
    transition: box-shadow .1s;
    box-shadow: 0px -1px 5px 2px rgba(0, 0, 0, 0.59);
    -webkit-box-shadow: 0px -1px 5px 2px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 0px -1px 5px 2px rgba(0, 0, 0, 0.59);

}

.book-preview-container img {
    width: 100px;
    height: 150px;
    margin-block-start: 6px;

}

.book-preview-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-preview-section p{
    letter-spacing: 0.1;
    padding-bottom: 3px;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 25px;
    margin-block-start: 0.5em;
}

.actions a{
    text-align: center;
    text-decoration: none;
    color: #333333;
    border-radius: 7px;
    width: 75px;
    border-radius: 20px;
    margin-block-start: 0.8em;

    border: none;
    background-color: white;
}

.actions a:hover{
    border-radius: 7px;

    transition: box-shadow .1s;
    box-shadow: 0px -1px 5px 2px rgba(0, 0, 0, 0.59);
    -webkit-box-shadow: 0px -1px 5px 2px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 0px -1px 5px 2px rgba(0, 0, 0, 0.59);
}

.actions button {
    /* position: absolute;
    top: 4px;
    left: 0; */
    border: none;
    height: 25px;
    width: 35px;
    margin-bottom: 0.2em;
    background-color: white;
}

.actions img:hover{
    border-radius: 7px;

    transition: box-shadow .1s;
    box-shadow: 0px -1px 5px 2px rgba(0, 0, 0, 0.59);
    -webkit-box-shadow: 0px -1px 5px 2px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 0px -1px 5px 2px rgba(0, 0, 0, 0.59);

}

.actions img {    
    height: 100%;
    width: 100%;
}

/* book-details */
.book-details {
    text-align: center;
    background-color: #f8f3db;
    padding: 20px;
}

.book-details-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.book-details-card img {
    margin-block-start: 3.5em;
    margin-block-end: 3.5em;


    transition: box-shadow .1s;
    box-shadow: 0px -1px 5px -1px rgba(0,0,0,0.59);
    -webkit-box-shadow: 0px -1px 5px -1px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px -1px 5px -1px rgba(0,0,0,0.59);

}

.book-details-card img:hover {
    transition: box-shadow .1s;
    box-shadow: 0px -1px 5px 2px rgba(0, 0, 0, 0.59);
    -webkit-box-shadow: 0px -1px 5px 2px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 0px -1px 5px 2px rgba(0, 0, 0, 0.59);
}

.book-details-card p {
    max-width: 300px;
    margin-block-start: 6px;
}

.details {
    padding: 10px;
    /* margin-block-start: 9.5em; */
    margin-inline-start: 7em;
    width: 250px;
    background-color: #eef2e2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    border-left: none;
    background-color: white;
    transition: box-shadow .1s;
    box-shadow: 0px -1px 5px -1px rgba(0,0,0,0.59);
    -webkit-box-shadow: 0px -1px 5px -1px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px -1px 5px -1px rgba(0,0,0,0.59);
}

.details:hover {
    background-color: white;
    transition: box-shadow .1s;
    box-shadow: 0px -1px 5px 2px rgba(0, 0, 0, 0.59);
    -webkit-box-shadow: 0px -1px 5px 2px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 0px -1px 5px 2px rgba(0, 0, 0, 0.59);

}

.details {
    letter-spacing: 0.1em;
}

.details a{
    color: #6f6f70;
}
/* book-edit */

.book-edit {
    background-color: lightgoldenrodyellow;
    padding: 20px;
}

/* book-filter */
.book-filter {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(246, 246, 246);
    padding: 16px;
    height: 48;
    box-shadow: 1px 1px 1px 1px;
}

/* .book-filter:hover{
    background-color: #ffed9f;

} */

.book-filter input {
    border-radius: 5px;
    margin-inline-start: 16px;
    margin-inline-end: 16px;

    resize: none;
    border: none;
    outline: none;
}

.book-filter input:hover {
    background-color: white;
    transition: box-shadow .1s;

    box-shadow: 0px -1px 5px 2px rgba(0, 0, 0, 0.59);
    -webkit-box-shadow: 0px -1px 5px 2px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 0px -1px 5px 2px rgba(0, 0, 0, 0.59);
}


.green {
    color: green
}

.user-msg {
    position: absolute;
    top: 90vh;
    right: 10px;
    background-color: rgba(144, 238, 144, 0.604);
    padding: 10px;
    border-radius: 3px;
}

.success {
    background-color: rgb(110, 198, 120);
}

.error {
    background-color: rgb(217, 123, 123);
    color: white;
}

.home-page{
    margin-block-start: 48px;
    margin-block-end: 248px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.home-page img{
    height: 480px;
    width: 720px;
}

.hero{
    display: flex;
    justify-content: center;

}