.email-list {
    list-style: none;
    width: 90vw;
}

.email-preview-container {
    background-color: rgb(255, 255, 255);
    transition: box-shadow .3s;
    border: 1px solid rgb(182, 182, 182);
    padding: 0%;
    width: 80%;
    overflow-wrap: break-word;
}

.email-preview-container:hover {
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.2);
    background-color: rgb(229, 252, 252);
}

.widescreen {
    background-color: aquamarine !important;
    width: 70vw !important;
    height: 40vh !important;
    left: 15%;
    top: 25%;
}

.mail-composer {
    border: 1px solid rgb(77, 77, 77);
    border-radius: 5px;
    background-color: rgb(239, 239, 239);
    padding: 10px;
    position: fixed;
    width: 35vw;
    height: 55vh;
    right: 0;
    bottom: 0;
}

.body-input {
    width: 100%;
    height: 75%;
    resize: none;
}

.email-text {
    height: 35px;
    padding: 7px;
    justify-content: center;
    align-items: center;
}

.actions {
    float: right;
    margin-top: 0%;
}

.system-body {
    background-color: rgb(248, 248, 248);
    display: flex;
}

.btn-compose {
    height: 50px;
}

.email-filter {
    width: 100%;
    height: 5vh;
    background-color: beige;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
}

.sidebar {
    background-color: beige;
    position: sticky;
    top: 5vh;
    width: 10vw;
    height: 95vh;
    text-align: center;
}

.details {
    height:fit-content;
    background-color: rgb(213, 248, 255);
    /* box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.55); */
    box-shadow: 0px 10px 13px -7px #000000, -50px -50px 0px -30px rgba(0,0,0,0);
}

.email-subject{
    /* overflow-wrap: break-word; */
    border-bottom: 1px solid rgb(155, 155, 155);
    font-size: larger;
}

.details-from {
    border-bottom: 1px solid rgb(155, 155, 155);
}

.details-body {
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.preview-subject {
    display: inline-block;
    width: 90%;
    margin-right: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.btn-close {
    float: right;
}

.reademail {
    background-color: rgb(202, 254, 254);
}