* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.app-header {
    color: #3f3f3f;
    background-color: #91c9df;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.horse {
    float: right;
    max-width: 50px;
    max-height: 50px;
    margin-left: 1vw;
}

.logo {
    display: flex;
    align-items: center;
    cursor: default;
}

.nav-bar ul {
    display: flex;
    list-style: none;
}

a {
    color: #eef2e2
}

.nav-bar a {
    text-decoration: none;
    margin-inline-end: 0.5em;
}

.router-link-exact-active {
    color: #f8da5b;
}