* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

button {}

.app-header {
    color: #eef2e2;
    background-color: #247291;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-bar ul{
    display: flex;
    list-style: none;
}

.nav-bar a{
    text-decoration: none;
    margin-inline-end: 0.5em;
}

.note-list{
    text-align: center;
}

.note-list ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.note-list li{
    padding: 6px;
    margin: 6px;
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-shadow: 1px 1px 1px 1px;
}

.actions{
    display: flex;
    justify-content: space-between;
}

.note-list img{
    width: 100%;
}

.note-list video{
    width: 100%;
}

.note-list textarea{
    border: none;
}