* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.app-header {
    color: #eef2e2;
    background-color: #247291;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-bar ul {
    display: flex;
    list-style: none;
}

a{
        color: #eef2e2

}

.nav-bar a {
    text-decoration: none;
    margin-inline-end: 0.5em;
}

.router-link-active{

}

.router-link-exact-active {
    color: #f8da5b;
}